.hero_img_projects {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    height: 100vh;

}

.hero_img_projects::before {
    content: '';
    background: url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
    position: absolute;
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}