.OutermostDiv {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    height: 50vh;
    background-color: pink;
}

.ImageDiv {
    height: fit-content;
    width: fit-content;
    color: aqua;
}

.ContentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}