.resume_background {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: black;
}

.contentDiv{
    margin-top: 4rem;
}

.resume_background::before {
    content: '';
    background: url("../../Assets/Resume_Background.jpg");
    position: fixed;
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.footerPositioning {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.navbarPostioning{
    width: 100%;
    position: absolute;
    top: 0px;
}

